In [1]:

import pandas as pd
import csv
from sqlalchemy import create_engine

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import numpy as np
import datetime

In [9]:
file_one = "Data/April_Motorvehicles.csv"

In [10]:
crashes2020 = pd.read_csv(file_one, encoding="ISO-8859-1")

In [11]:
crashes2020.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,04/01/2020,21:23,BROOKLYN,11219.0,40.634270,-73.983310,"(40.63427, -73.98331)",NaN,NaN,1575 44 STREET,...,Unspecified,NaN,NaN,NaN,4308629,Station Wagon/Sport Utility Vehicle,Van,NaN,NaN,NaN
1,04/01/2020,16:09,NaN,NaN,40.665660,-73.767624,"(40.66566, -73.767624)",FARMERS BOULEVARD,145 ROAD,NaN,...,Unspecified,NaN,NaN,NaN,4305069,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,04/01/2020,21:18,BROOKLYN,11249.0,40.713078,-73.964080,"(40.713078, -73.96408)",BERRY STREET,SOUTH 3 STREET,NaN,...,Failure to Yield Right-of-Way,NaN,NaN,NaN,4307292,Station Wagon/Sport Utility Vehicle,E-Bike,NaN,NaN,NaN
3,04/01/2020,14:29,NaN,NaN,40.627926,-73.931750,"(40.627926, -73.93175)",AVENUE J,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4305138,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,04/01/2020,17:00,QUEENS,11378.0,40.725930,-73.918370,"(40.72593, -73.91837)",56 ROAD,50 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4305053,Sedan,Box Truck,NaN,NaN,NaN

In [12]:
# del crashes2020['ON STREET NAME']
# del crashes2020['CROSS STREET NAME']
# del crashes2020['OFF STREET NAME']
# del crashes2020['CONTRIBUTING FACTOR VEHICLE 3']
# del crashes2020['CONTRIBUTING FACTOR VEHICLE 4']
# del crashes2020['CONTRIBUTING FACTOR VEHICLE 5']
# del crashes2020['VEHICLE TYPE CODE 3']
# del crashes2020['VEHICLE TYPE CODE 4']
# del crashes2020['VEHICLE TYPE CODE 5']

In [14]:
crashes2020



crashes2020 = crashes2020[crashes2020['BOROUGH'].notna()]

In [15]:
crashes2020 = crashes2020[crashes2020['LATITUDE'].notna()]

In [16]:
crashes2020 = crashes2020[crashes2020['LONGITUDE'].notna()]

In [17]:
crashes2020

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,04/01/2020,21:23,BROOKLYN,11219.0,40.634270,-73.983310,"(40.63427, -73.98331)",NaN,NaN,1575 44 STREET,...,Unspecified,NaN,NaN,NaN,4308629,Station Wagon/Sport Utility Vehicle,Van,NaN,NaN,NaN
2,04/01/2020,21:18,BROOKLYN,11249.0,40.713078,-73.964080,"(40.713078, -73.96408)",BERRY STREET,SOUTH 3 STREET,NaN,...,Failure to Yield Right-of-Way,NaN,NaN,NaN,4307292,Station Wagon/Sport Utility Vehicle,E-Bike,NaN,NaN,NaN
4,04/01/2020,17:00,QUEENS,11378.0,40.725930,-73.918370,"(40.72593, -73.91837)",56 ROAD,50 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4305053,Sedan,Box Truck,NaN,NaN,NaN
6,04/01/2020,12:50,STATEN ISLAND,10305.0,40.583390,-74.089790,"(40.58339, -74.08979)",BUEL AVENUE,MASON AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4305083,Sedan,Sedan,NaN,NaN,NaN
7,04/01/2020,7:00,MANHATTAN,10035.0,40.807310,-73.939514,"(40.80731, -73.939514)",NaN,NaN,2004 MADISON AVENUE,...,NaN,NaN,NaN,NaN,4307401,Sedan,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4113,04/30/2020,22:25,BRONX,10465.0,40.828075,-73.840065,"(40.828075, -73.840065)",NaN,NaN,2560 BRUCKNER BOULEVARD,...,NaN,NaN,NaN,NaN,4311274,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
4114,04/30/2020,8:00,BROOKLYN,11213.0,40.671703,-73.935240,"(40.671703, -73.93524)",NaN,NaN,1308 STERLING PLACE,...,Unspecified,NaN,NaN,NaN,4312115,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4115,04/30/2020,11:51,QUEENS,11369.0,40.767740,-73.879990,"(40.76774, -73.87999)",90 STREET,23 AVENUE,NaN,...,Unspecified,Unspecified,NaN,NaN,4311205,Sedan,Sedan,Sedan,NaN,NaN
4119,04/30/2020,16:00,BROOKLYN,11233.0,40.669600,-73.919690,"(40.6696, -73.91969)",NaN,NaN,1463 EASTERN PARKWAY,...,Unspecified,NaN,NaN,NaN,4311361,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4120,04/30/2020,12:50,BRONX,10451.0,40.823063,-73.910010,"(40.823063, -73.91001)",NaN,NaN,507 EAST 161 STREET,...,NaN,NaN,NaN,NaN,4311379,Sedan,NaN,NaN,NaN,NaN

In [18]:
del crashes2020['CONTRIBUTING FACTOR VEHICLE 2']
del crashes2020['VEHICLE TYPE CODE 2']

In [19]:
crashes2020_df = crashes2020.rename(columns={"CRASH DATE":"CrashDate", "CRASH TIME": "CrashTime", "ZIP CODE": "ZipCode",
                                            "NUMBER OF PERSONS INJURED": "PersonsInjured", "NUMBER OF PERSONS KILLED": "PersonsKilled",
                                            "NUMBER OF PEDESTRIANS INJURED": "PedestriansInjured", "NUMBER OF PEDESTRIANS KILLED": "PedestriansKilled", 
                                            "NUMBER OF CYCLIST INJURED": "CyclistInjured", "NUMBER OF CYCLIST KILLED": "CyclistKilled",
                                            "NUMBER OF MOTORIST INJURED": "MotoristInjured", "NUMBER OF MOTORIST KILLED": "MotoristKilled",
                                            "CONTRIBUTING FACTOR VEHICLE 1": "ContributingFactor", "VEHICLE TYPE CODE 1": "VehicleType"})

In [20]:
crashes2020_df

,CrashDate,CrashTime,BOROUGH,ZipCode,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,MotoristKilled,ContributingFactor,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VehicleType,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,04/01/2020,21:23,BROOKLYN,11219.0,40.634270,-73.983310,"(40.63427, -73.98331)",NaN,NaN,1575 44 STREET,...,0,Unspecified,NaN,NaN,NaN,4308629,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,04/01/2020,21:18,BROOKLYN,11249.0,40.713078,-73.964080,"(40.713078, -73.96408)",BERRY STREET,SOUTH 3 STREET,NaN,...,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,4307292,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,04/01/2020,17:00,QUEENS,11378.0,40.725930,-73.918370,"(40.72593, -73.91837)",56 ROAD,50 STREET,NaN,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4305053,Sedan,NaN,NaN,NaN
6,04/01/2020,12:50,STATEN ISLAND,10305.0,40.583390,-74.089790,"(40.58339, -74.08979)",BUEL AVENUE,MASON AVENUE,NaN,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4305083,Sedan,NaN,NaN,NaN
7,04/01/2020,7:00,MANHATTAN,10035.0,40.807310,-73.939514,"(40.80731, -73.939514)",NaN,NaN,2004 MADISON AVENUE,...,0,Unspecified,NaN,NaN,NaN,4307401,Sedan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4113,04/30/2020,22:25,BRONX,10465.0,40.828075,-73.840065,"(40.828075, -73.840065)",NaN,NaN,2560 BRUCKNER BOULEVARD,...,0,Unspecified,NaN,NaN,NaN,4311274,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4114,04/30/2020,8:00,BROOKLYN,11213.0,40.671703,-73.935240,"(40.671703, -73.93524)",NaN,NaN,1308 STERLING PLACE,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4312115,Sedan,NaN,NaN,NaN
4115,04/30/2020,11:51,QUEENS,11369.0,40.767740,-73.879990,"(40.76774, -73.87999)",90 STREET,23 AVENUE,NaN,...,0,Unspecified,Unspecified,NaN,NaN,4311205,Sedan,Sedan,NaN,NaN
4119,04/30/2020,16:00,BROOKLYN,11233.0,40.669600,-73.919690,"(40.6696, -73.91969)",NaN,NaN,1463 EASTERN PARKWAY,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4311361,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4120,04/30/2020,12:50,BRONX,10451.0,40.823063,-73.910010,"(40.823063, -73.91001)",NaN,NaN,507 EAST 161 STREET,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4311379,Sedan,NaN,NaN,NaN

In [21]:
crashes2020_df = crashes2020_df.rename(columns={"BOROUGH":"Borough", "LATITUDE": "Latitude", "LONGITUDE": "Longitude", 
                                                "LOCATION": "Location", "COLLISION_ID": "CollisionID"})

In [22]:
crashes2020_df

,CrashDate,CrashTime,Borough,ZipCode,Latitude,Longitude,Location,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,MotoristKilled,ContributingFactor,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,CollisionID,VehicleType,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,04/01/2020,21:23,BROOKLYN,11219.0,40.634270,-73.983310,"(40.63427, -73.98331)",NaN,NaN,1575 44 STREET,...,0,Unspecified,NaN,NaN,NaN,4308629,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,04/01/2020,21:18,BROOKLYN,11249.0,40.713078,-73.964080,"(40.713078, -73.96408)",BERRY STREET,SOUTH 3 STREET,NaN,...,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,4307292,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,04/01/2020,17:00,QUEENS,11378.0,40.725930,-73.918370,"(40.72593, -73.91837)",56 ROAD,50 STREET,NaN,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4305053,Sedan,NaN,NaN,NaN
6,04/01/2020,12:50,STATEN ISLAND,10305.0,40.583390,-74.089790,"(40.58339, -74.08979)",BUEL AVENUE,MASON AVENUE,NaN,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4305083,Sedan,NaN,NaN,NaN
7,04/01/2020,7:00,MANHATTAN,10035.0,40.807310,-73.939514,"(40.80731, -73.939514)",NaN,NaN,2004 MADISON AVENUE,...,0,Unspecified,NaN,NaN,NaN,4307401,Sedan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4113,04/30/2020,22:25,BRONX,10465.0,40.828075,-73.840065,"(40.828075, -73.840065)",NaN,NaN,2560 BRUCKNER BOULEVARD,...,0,Unspecified,NaN,NaN,NaN,4311274,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4114,04/30/2020,8:00,BROOKLYN,11213.0,40.671703,-73.935240,"(40.671703, -73.93524)",NaN,NaN,1308 STERLING PLACE,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4312115,Sedan,NaN,NaN,NaN
4115,04/30/2020,11:51,QUEENS,11369.0,40.767740,-73.879990,"(40.76774, -73.87999)",90 STREET,23 AVENUE,NaN,...,0,Unspecified,Unspecified,NaN,NaN,4311205,Sedan,Sedan,NaN,NaN
4119,04/30/2020,16:00,BROOKLYN,11233.0,40.669600,-73.919690,"(40.6696, -73.91969)",NaN,NaN,1463 EASTERN PARKWAY,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4311361,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4120,04/30/2020,12:50,BRONX,10451.0,40.823063,-73.910010,"(40.823063, -73.91001)",NaN,NaN,507 EAST 161 STREET,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4311379,Sedan,NaN,NaN,NaN

In [24]:
del crashes2020_df['Location']

In [25]:
crashes2020_df["CrashDate"] = pd.to_datetime(crashes2020_df["CrashDate"]).dt.strftime('%Y-%m-%d')
print(crashes2020_df)

       CrashDate CrashTime        Borough  ZipCode   Latitude  Longitude  \
0     2020-04-01     21:23       BROOKLYN  11219.0  40.634270 -73.983310
2     2020-04-01     21:18       BROOKLYN  11249.0  40.713078 -73.964080
4     2020-04-01     17:00         QUEENS  11378.0  40.725930 -73.918370
6     2020-04-01     12:50  STATEN ISLAND  10305.0  40.583390 -74.089790
7     2020-04-01      7:00      MANHATTAN  10035.0  40.807310 -73.939514
...          ...       ...            ...      ...        ...        ...
4113  2020-04-30     22:25          BRONX  10465.0  40.828075 -73.840065
4114  2020-04-30      8:00       BROOKLYN  11213.0  40.671703 -73.935240
4115  2020-04-30     11:51         QUEENS  11369.0  40.767740 -73.879990
4119  2020-04-30     16:00       BROOKLYN  11233.0  40.669600 -73.919690
4120  2020-04-30     12:50          BRONX  10451.0  40.823063 -73.910010

                        ON STREET NAME CROSS STREET NAME  \
0                                  NaN               NaN
2     BERRY STREET                        SOUTH 3 STREET
4     56 ROAD                                  50 STREET
6     BUEL AVENUE                           MASON AVENUE
7                                  NaN               NaN
...                                ...               ...
4113                               NaN               NaN
4114                               NaN               NaN
4115  90 STREET                                23 AVENUE
4119                               NaN               NaN
4120                               NaN               NaN

                               OFF STREET NAME  PersonsInjured  ...  \
0     1575      44 STREET                                    0  ...
2                                          NaN               1  ...
4                                          NaN               0  ...
6                                          NaN               1  ...
7     2004      MADISON AVENUE                               0  ...
...                                        ...             ...  ...
4113  2560      BRUCKNER BOULEVARD                           1  ...
4114  1308      STERLING PLACE                               0  ...
4115                                       NaN               0  ...
4119  1463      EASTERN PARKWAY                              0  ...
4120  507       EAST 161 STREET                              0  ...

      MotoristKilled              ContributingFactor  \
0                  0                     Unspecified
2                  0   Failure to Yield Right-of-Way
4                  0  Driver Inattention/Distraction
6                  0  Driver Inattention/Distraction
7                  0                     Unspecified
...              ...                             ...
4113               0                     Unspecified
4114               0  Driver Inattention/Distraction
4115               0                     Unspecified
4119               0  Driver Inattention/Distraction
4120               0  Driver Inattention/Distraction

      CONTRIBUTING FACTOR VEHICLE 3  CONTRIBUTING FACTOR VEHICLE 4  \
0                               NaN                            NaN
2                               NaN                            NaN
4                               NaN                            NaN
6                               NaN                            NaN
7                               NaN                            NaN
...                             ...                            ...
4113                            NaN                            NaN
4114                            NaN                            NaN
4115                    Unspecified                            NaN
4119                            NaN                            NaN
4120                            NaN                            NaN

      CONTRIBUTING FACTOR VEHICLE 5  CollisionID  \
0                               NaN      4308629
2                               NaN      4307292
4                               NaN      4305053
6                               NaN      4305083
7                               NaN      4307401
...                             ...          ...
4113                            NaN      4311274
4114                            NaN      4312115
4115                            NaN      4311205
4119                            NaN      4311361
4120                            NaN      4311379

                              VehicleType VEHICLE TYPE CODE 3  \
0     Station Wagon/Sport Utility Vehicle                 NaN
2     Station Wagon/Sport Utility Vehicle                 NaN
4                                   Sedan                 NaN
6                                   Sedan                 NaN
7                                   Sedan                 NaN
...                                   ...                 ...
4113  Station Wagon/Sport Utility Vehicle                 NaN
4114                                Sedan                 NaN
4115                                Sedan               Sedan
4119  Station Wagon/Sport Utility Vehicle                 NaN
4120                                Sedan                 NaN

     VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5
0                    NaN                 NaN
2                    NaN                 NaN
4                    NaN                 NaN
6                    NaN                 NaN
7                    NaN                 NaN
...                  ...                 ...
4113                 NaN                 NaN
4114                 NaN                 NaN
4115                 NaN                 NaN
4119                 NaN                 NaN
4120                 NaN                 NaN

[2518 rows x 26 columns]

In [26]:
clean_crashes=crashes2020_df

In [27]:
del crashes2020_df['ZipCode']

In [28]:
crashes2020_df

,CrashDate,CrashTime,Borough,Latitude,Longitude,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,PersonsInjured,PersonsKilled,...,MotoristKilled,ContributingFactor,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,CollisionID,VehicleType,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2020-04-01,21:23,BROOKLYN,40.634270,-73.983310,NaN,NaN,1575 44 STREET,0,0,...,0,Unspecified,NaN,NaN,NaN,4308629,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,2020-04-01,21:18,BROOKLYN,40.713078,-73.964080,BERRY STREET,SOUTH 3 STREET,NaN,1,0,...,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,4307292,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,2020-04-01,17:00,QUEENS,40.725930,-73.918370,56 ROAD,50 STREET,NaN,0,0,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4305053,Sedan,NaN,NaN,NaN
6,2020-04-01,12:50,STATEN ISLAND,40.583390,-74.089790,BUEL AVENUE,MASON AVENUE,NaN,1,0,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4305083,Sedan,NaN,NaN,NaN
7,2020-04-01,7:00,MANHATTAN,40.807310,-73.939514,NaN,NaN,2004 MADISON AVENUE,0,0,...,0,Unspecified,NaN,NaN,NaN,4307401,Sedan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4113,2020-04-30,22:25,BRONX,40.828075,-73.840065,NaN,NaN,2560 BRUCKNER BOULEVARD,1,0,...,0,Unspecified,NaN,NaN,NaN,4311274,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4114,2020-04-30,8:00,BROOKLYN,40.671703,-73.935240,NaN,NaN,1308 STERLING PLACE,0,0,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4312115,Sedan,NaN,NaN,NaN
4115,2020-04-30,11:51,QUEENS,40.767740,-73.879990,90 STREET,23 AVENUE,NaN,0,0,...,0,Unspecified,Unspecified,NaN,NaN,4311205,Sedan,Sedan,NaN,NaN
4119,2020-04-30,16:00,BROOKLYN,40.669600,-73.919690,NaN,NaN,1463 EASTERN PARKWAY,0,0,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4311361,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4120,2020-04-30,12:50,BRONX,40.823063,-73.910010,NaN,NaN,507 EAST 161 STREET,0,0,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4311379,Sedan,NaN,NaN,NaN

In [29]:
crashes2020_df=crashes2020_df.round({'Latitude': 4, 'Longitude': 4})

In [30]:
crashes2020_df

,CrashDate,CrashTime,Borough,Latitude,Longitude,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,PersonsInjured,PersonsKilled,...,MotoristKilled,ContributingFactor,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,CollisionID,VehicleType,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2020-04-01,21:23,BROOKLYN,40.6343,-73.9833,NaN,NaN,1575 44 STREET,0,0,...,0,Unspecified,NaN,NaN,NaN,4308629,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,2020-04-01,21:18,BROOKLYN,40.7131,-73.9641,BERRY STREET,SOUTH 3 STREET,NaN,1,0,...,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,4307292,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,2020-04-01,17:00,QUEENS,40.7259,-73.9184,56 ROAD,50 STREET,NaN,0,0,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4305053,Sedan,NaN,NaN,NaN
6,2020-04-01,12:50,STATEN ISLAND,40.5834,-74.0898,BUEL AVENUE,MASON AVENUE,NaN,1,0,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4305083,Sedan,NaN,NaN,NaN
7,2020-04-01,7:00,MANHATTAN,40.8073,-73.9395,NaN,NaN,2004 MADISON AVENUE,0,0,...,0,Unspecified,NaN,NaN,NaN,4307401,Sedan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4113,2020-04-30,22:25,BRONX,40.8281,-73.8401,NaN,NaN,2560 BRUCKNER BOULEVARD,1,0,...,0,Unspecified,NaN,NaN,NaN,4311274,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4114,2020-04-30,8:00,BROOKLYN,40.6717,-73.9352,NaN,NaN,1308 STERLING PLACE,0,0,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4312115,Sedan,NaN,NaN,NaN
4115,2020-04-30,11:51,QUEENS,40.7677,-73.8800,90 STREET,23 AVENUE,NaN,0,0,...,0,Unspecified,Unspecified,NaN,NaN,4311205,Sedan,Sedan,NaN,NaN
4119,2020-04-30,16:00,BROOKLYN,40.6696,-73.9197,NaN,NaN,1463 EASTERN PARKWAY,0,0,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4311361,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4120,2020-04-30,12:50,BRONX,40.8231,-73.9100,NaN,NaN,507 EAST 161 STREET,0,0,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4311379,Sedan,NaN,NaN,NaN

# Borough Totals

In [33]:
crashes2020_df

,CrashDate,CrashTime,Borough,Latitude,Longitude,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,PersonsInjured,PersonsKilled,...,MotoristKilled,ContributingFactor,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,CollisionID,VehicleType,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2020-04-01,21:23,BROOKLYN,40.6343,-73.9833,NaN,NaN,1575 44 STREET,0,0,...,0,Unspecified,NaN,NaN,NaN,4308629,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,2020-04-01,21:18,BROOKLYN,40.7131,-73.9641,BERRY STREET,SOUTH 3 STREET,NaN,1,0,...,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,4307292,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,2020-04-01,17:00,QUEENS,40.7259,-73.9184,56 ROAD,50 STREET,NaN,0,0,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4305053,Sedan,NaN,NaN,NaN
6,2020-04-01,12:50,STATEN ISLAND,40.5834,-74.0898,BUEL AVENUE,MASON AVENUE,NaN,1,0,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4305083,Sedan,NaN,NaN,NaN
7,2020-04-01,7:00,MANHATTAN,40.8073,-73.9395,NaN,NaN,2004 MADISON AVENUE,0,0,...,0,Unspecified,NaN,NaN,NaN,4307401,Sedan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4113,2020-04-30,22:25,BRONX,40.8281,-73.8401,NaN,NaN,2560 BRUCKNER BOULEVARD,1,0,...,0,Unspecified,NaN,NaN,NaN,4311274,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4114,2020-04-30,8:00,BROOKLYN,40.6717,-73.9352,NaN,NaN,1308 STERLING PLACE,0,0,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4312115,Sedan,NaN,NaN,NaN
4115,2020-04-30,11:51,QUEENS,40.7677,-73.8800,90 STREET,23 AVENUE,NaN,0,0,...,0,Unspecified,Unspecified,NaN,NaN,4311205,Sedan,Sedan,NaN,NaN
4119,2020-04-30,16:00,BROOKLYN,40.6696,-73.9197,NaN,NaN,1463 EASTERN PARKWAY,0,0,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4311361,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4120,2020-04-30,12:50,BRONX,40.8231,-73.9100,NaN,NaN,507 EAST 161 STREET,0,0,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4311379,Sedan,NaN,NaN,NaN

In [43]:
del crashes2020_df["ON STREET NAME"]
del crashes2020_df["CROSS STREET NAME"]
del crashes2020_df["OFF STREET NAME"]

In [45]:
crashes2020_df.head()

,CrashDate,CrashTime,Borough,Latitude,Longitude,PersonsInjured,PersonsKilled,PedestriansInjured,PedestriansKilled,CyclistInjured,...,MotoristKilled,ContributingFactor,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,CollisionID,VehicleType,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2020-04-01,21:23,BROOKLYN,40.6343,-73.9833,0,0,0,0,0,...,0,Unspecified,NaN,NaN,NaN,4308629,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,2020-04-01,21:18,BROOKLYN,40.7131,-73.9641,1,0,0,0,1,...,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,4307292,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,2020-04-01,17:00,QUEENS,40.7259,-73.9184,0,0,0,0,0,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4305053,Sedan,NaN,NaN,NaN
6,2020-04-01,12:50,STATEN ISLAND,40.5834,-74.0898,1,0,0,0,0,...,0,Driver Inattention/Distraction,NaN,NaN,NaN,4305083,Sedan,NaN,NaN,NaN
7,2020-04-01,7:00,MANHATTAN,40.8073,-73.9395,0,0,0,0,0,...,0,Unspecified,NaN,NaN,NaN,4307401,Sedan,NaN,NaN,NaN

In [34]:
crash_count = crashes2020_df.groupby(['Borough']).count()
crash_count

,CrashDate,CrashTime,Latitude,Longitude,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,PersonsInjured,PersonsKilled,PedestriansInjured,...,MotoristKilled,ContributingFactor,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,CollisionID,VehicleType,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
Borough,,,,,,,,,,,,,,,,,,,,,
BRONX,563,563,563,563,308,308,255,563,563,563,...,563,561,56,16,8,563,554,53,15,8
BROOKLYN,895,895,895,895,507,507,388,895,895,895,...,895,891,116,39,13,895,883,114,38,13
MANHATTAN,255,255,255,255,167,167,88,255,255,255,...,255,254,17,5,1,255,255,16,5,1
QUEENS,689,689,689,689,456,455,233,689,689,689,...,689,688,79,21,7,689,685,71,21,6
STATEN ISLAND,116,116,116,116,70,70,46,116,116,116,...,116,116,11,3,1,116,115,10,3,1

In [35]:
crash_count = crash_count.rename(columns={"CrashDate": "CrashCount"})

In [39]:
#del crash_count['CrashTime']
#del crash_count['Latitude']
#del crash_count['Longitude']
#del crash_count['PersonsInjured']
#del crash_count['PersonsKilled']
#del crash_count['PedestriansInjured']
#del crash_count['PedestriansKilled']
#del crash_count['CyclistInjured']
#del crash_count['CyclistKilled']
#del crash_count['MotoristInjured']
#del crash_count['MotoristKilled']
#del crash_count['ContributingFactor']
#del crash_count['VehicleType']
#del crash_count['CollisionID']

In [42]:
crash_count

,CrashCount,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
Borough,,,,,,,,,,
BRONX,563,308,308,255,56,16,8,53,15,8
BROOKLYN,895,507,507,388,116,39,13,114,38,13
MANHATTAN,255,167,167,88,17,5,1,16,5,1
QUEENS,689,456,455,233,79,21,7,71,21,6
STATEN ISLAND,116,70,70,46,11,3,1,10,3,1

In [37]:
crashcount = crash_count.reset_index()
crashcount

,Borough,CrashCount,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,BRONX,563,308,308,255,56,16,8,53,15,8
1,BROOKLYN,895,507,507,388,116,39,13,114,38,13
2,MANHATTAN,255,167,167,88,17,5,1,16,5,1
3,QUEENS,689,456,455,233,79,21,7,71,21,6
4,STATEN ISLAND,116,70,70,46,11,3,1,10,3,1

In [ ]:
crashcount.to_csv("../Data/CrashCount.csv", index=False, header=True)

In [ ]:
crashcount.to_json("../Data/totals.json", orient = 'records')

In [ ]:
crashimpact.to_csv("../Data/CrashImpacts.csv", index=False, header=True)

# Borough Total Counts

In [ ]:
crashes2020_df

In [ ]:
total_df = crashes2020_df.groupby(['Borough']).sum()

In [ ]:
total_df

In [ ]:
del total_df["Latitude"]
del total_df["Longitude"]
del total_df["CollisionID"]

In [ ]:
total_df

In [ ]:
total_df.to_csv("../Data/TotalTable.csv", index=False, header=True)

In [ ]:
crashimpact.to_csv("../Data/CrashImpacts.csv", index=False, header=True)

# April Totals

In [ ]:
april_crashes_df = crashes2020_df

In [ ]:
del april_crashes_df["CrashTime"]
del april_crashes_df["PersonsInjured"]
del april_crashes_df["PersonsKilled"]
del april_crashes_df["PedestriansInjured"]
del april_crashes_df["PedestriansKilled"]
del april_crashes_df["CyclistInjured"]
del april_crashes_df["CyclistKilled"]
del april_crashes_df["MotoristInjured"]
del april_crashes_df["MotoristKilled"]

In [ ]:
april_crashes_df.head()

In [ ]:
april_crashes_df.to_csv("../Data/AprilSummary.csv", index=False, header=True)

In [ ]:
april_crashes_df

#